/* Dropdown Items From Nav Headers */
.nav-item-title:hover
{
    background-color: #202020;
    color: #1d897b;
    border-left: 3px solid #1d897b;
    cursor: pointer;
} 
.nav-item-title:hover .nav-link, 
.nav-item-title:hover .nav-icons {
    background-color: #202020;
    color: #1d897b;
    cursor: pointer;
}

.nav-item-title.active
{
    background-color: #202020;
    color: #1d897b;
    border-left: 3px solid #1d897b;
} 
.nav-item-title.active .nav-link, 
.nav-item-title.active .nav-icons {
    background-color: #202020;
    color: #1d897b;
}

.nav-link-title:focus
{
    color: white;
}

.nav-item
{
    font-size: 11px;
    font-weight: 500;
    color: white;
}
 
/* Dropdown Headers */
.nav-link-title
{
    font-size: 15px;
    font-weight: 500;
    height: 60px;
    padding-left: 16px;
    color: white;

}

/* Style Properties of Nav Links*/
.nav-link
{
    color: white;
    cursor: pointer;
}
.nav-link:hover
{
    color: #1d897b;
}
/* width of button in nav-link-title*/
.nav-link.nav-link-title
{
    width: 100%;
    text-align: left;
}

/* General Nav Icons Styling */
.nav-icons 
{
    padding-right: 30px;
}

.nav-operate-icons 
{
    color: white;
    padding-right: 0px;
    cursor: pointer;
}
.nav-operate-icons:hover 
{
    color: #1d897b;
}
.nav-operate-icons-struct 
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 25px;
}

/* Input Parameter Stylings */
.parameter-input 
{
    width: 60px;
    font-size: 13px;
    font-weight: 400;
    color: white;
    background-color: #262626;
    border: 1.7px solid #1d897b;
    border-radius: 0.25rem;
    float: right;
    margin-top: -2px;
}
.parameter-input:focus-visible
{
    outline: none;
    border: 1.7px solid #1d897b;
}

/* Results Stylings */
.results
{
    width: 60px;
    font-size: 13px;
    font-weight: 400;
    color: white;
    float: right;
}

/* Separator between sizing inputs */
.separator 
{
    margin-left: 10px;
}

/* Styles for Checkboxes In Control Center */
.default-checkbox 
{
    color: white;
    background-color: #fff;
    border: 1px solid #d4d4d4;
    accent-color: #1d897b;
    border-radius: 0.25rem;
    float: right;
    margin-right: 25px;
    margin-top: 3px;
    transform: scale(1.5);
}

/* Manages The Style of The Scroll List for Control Center */
.scrollable-list-controller 
{
    max-height: 30vh;
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: #121212 #262626;
}

/* Sizing section column names for area (mm^2) and diameter of grains (mm) */
.size-columns
{
    display: flex;
    justify-content: flex-end;
    gap: 40px;
    padding-right: 20px;
}

/* Submit btn */
.submit-btn-container
{
    background-color: #2e2e2e;
}
.submit-btn 
{
    font-size: 15px;
    font-weight: 500;
    color: white;
    background-color: #2e2e2e;
    border: none;
    border-radius: 0.15rem;
    width: 100%;  /* Or any specific width */
    position: relative;
    left: 50%;
    transform: translate(-50%);
}
.submit-btn-container:hover
{
    background-color: #1d897b;
}
.submit-btn:hover
{
    background-color: #1d897b;
    color: #262626;
    font-weight: 500;
}

/* Pills padding from top */
.pills-pd
{
    padding-top: 30px;
}


/* Important border bottom bypasses */
.border-bottom
{
    border-bottom-color: rgb(53, 53, 53) !important;
    border-radius: 0 0 0 0 !important;
}
.border-top
{
    border-top-color: rgb(53, 53, 53) !important;
    border-radius: 0 0 0 0 !important;
}

/* Extra padding for parameter values */

.parameter-bottompadding
{
    margin-bottom: 4px;
}

/* Spacing */
.spacing
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 5px 60px 5px 60px;
}

/* Responsive media changes */
@media (max-width: 870px)
{
    .nav-link
    {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .nav-title-name
    {
        display: none;
    }
    .nav-icons
    {
        padding-right: 0px;
    }
}