                                                                            /*----- DASHBOARD STYLING ------ */
                                                                                    /* Primary tags */
/* Base Body Styling */
body 
{
    font-family: "Inter";
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto 1fr;
    height: 100vh;
}

/* Base Nav Styling */
nav {
    width: 315px;
    height: 100vh;
    background-color: #262626;
    grid-row: 1 / 3;
}

/* Base Main Styling */
main
{
    grid-column: 2;
    background-color: #121212;
}

/* universal p tag styling */
p {
    margin: 0 !important;
}
                                                                                    /* Class styling */

/* Header Styling */
.dashboard-header
{
grid-column: 2;
height: 70px;
background-color: #262626;
display: flex;
justify-content: space-between;
}

/* Botton padding for brand*/
.pb
{
 padding-bottom: 0.65rem;
}

.brand-container
{
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #2b2b2b;
    box-shadow: 0 0 18px 0 rgba(0, 0, 0, 0.5); /*WHY CAN"T I SEE THE SHADOW!!*/
}

/* Size for brand */
.navbar-brand
{
    font-size: 26px;
    font-family: "Outfit";
    justify-content: center;
    margin-right: 0px;
}

/* Colors For Brand */
.navbar-brand .brand-style
{
    color: #FFFFFF;
    font-weight: 600;
    padding-left: 15px;
    letter-spacing: 7px;
}

/* Styling for flash notifications */
#flashes {
    position: fixed;
    top:0;
    left: 50%;
    color: white;
    transform: translate(-50%);
    z-index: 1000;
    width: 100vw;
}
.flash {
    padding: 5px;
    opacity: 1;
    transition: opacity 0.6s;
    text-align: center;
  }
.flash-success {
    background-color: #67d867;
}
.flash-error {
    background-color: #e74c3c;
}
  