/* Styles unique for dashboard */

/* Font for body */
body 
{
    font-family: "Inter";
}

/* nav sizing */
nav {
    width: 315px;
    height: 100vh;
}

/* universal p tag styling */
p {
    margin: 0 !important;
}

/* universal a tag styling */


/* Size for brand */
nav .navbar-brand
{
    font-size: 26px;
    font-family: "Outfit";
    justify-content: center;
    margin-right: 0px;
}

/* Colors for brand */
nav .navbar-brand .brand-style
{
    color: #7A7A7A;
    font-weight: 600;
    padding-left: 15px;
    letter-spacing: 7px;
}

/* dropdown items from nav headers */
nav .nav-item
{
    font-size: 13px;
    font-weight: 500;
    color: #7A7A7A;
}
nav .item-shift
{
    margin-left: 40px !important;
}

/* dropdown headers */
nav .nav-link-title
{
    font-size: 18px;
    font-weight: 600 !important;
}

/* Style properties of nav links*/
nav .nav-link
{
    color: #7A7A7A;
    cursor: pointer;
}
nav .nav-link:hover
{
    color: #575757;
}
nav .nav-link:active, nav .nav-link:focus 
{
    color: #575757 !important;   
}  

/* general nav icons styling */
nav .nav-icons 
{
    color: #7A7A7A;
    padding-right: 10px;
}
nav .nav-operate-icons 
{
    color: #7A7A7A;
    padding-right: 30px;
}
nav .nav-operate-icons:hover 
{
    color: #575757;
}
nav .nav-operate-icons-struct 
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 25px;
}

/* Input parameter stylings */
nav .parameter-input 
{
    width: 60px;
    font-size: 13px;
    font-weight: 400;
    color: #212529;
    background-color: #fff;
    border: 1px solid #7A7A7A;
    border-radius: 0.25rem;
    float: right;
    margin-top: -2px;
}

nav .parameter-checkbox 
{
    color: #212529;
    background-color: #fff;
    border: 1px solid #7A7A7A;
    accent-color: #7A7A7A;
    border-radius: 0.25rem;
    float: right;
    margin-right: 25px;
    margin-top: 3px;
    transform: scale(1.5);
}


nav .scrollable-list 
{
    max-height: 80vh;
    overflow-y: auto;
    scrollbar-width: thin;
} 