                                                                            /*----- DASHBOARD STYLING ------ */
                                                                                    /* Primary tags */
/* Base Body Styling */
body 
{
    font-family: "Inter";
}

/* Base Nav Styling */
nav {
    width: 315px;
    height: 100vh;
    display: flex;
}

/* universal p tag styling */
p {
    margin: 0 !important;
}
                                                                                    /* Class styling */

/* Size for brand */
.navbar-brand
{
    font-size: 26px;
    font-family: "Outfit";
    justify-content: center;
    margin-right: 0px;
}

/* Colors For Brand */
.navbar-brand .brand-style
{
    color: #7A7A7A;
    font-weight: 600;
    padding-left: 15px;
    letter-spacing: 7px;
}