 /* Container for left items */
 .left-items-container
 {
    display: flex;
    flex-direction: column;
    padding-left: 25px;
    justify-content: center;
 }
 .dashboard-header-greeting
 {
   font-weight: 700;
   color: white;
 }
 .dashboard-header-info
 {
   font-weight: 230;
   color: white;
 }


/* Header Title Styling */
 .dashboard-header-title
 {
    padding-right: 45px;
    display: flex;
    letter-spacing: 3px;
    font-size: 15px;
    align-items: center;

    color: #1d897b;
    font-weight: 700;
 }

 /* Responsiveness for mobile */
 /* @media (max-width: 840px)
 {
    .dashboard-header-greeting
    {
      font-weight: 400;
    }
    .dashboard-header-info
    {
      display: none;
    }

 } */