 /* Container for left items */
 .left-items-container
 {
    display: flex;
    flex-direction: column;
    padding-left: 25px;
    justify-content: center;
 }
 .dashboard-header-greeting
 {
   font-weight: 700;
   color: #7A7A7A;
 }
 .dashboard-header-info
 {
   font-weight: 230;
   color: #7A7A7A;
 }


/* Header Title Styling */
 .dashboard-header-title
 {
    padding-right: 45px;
    display: flex;
    align-items: center;

    color: #7A7A7A;
    font-weight: 700;
 }