/* Common styles across all pages */

/* Size for brand */
nav .navbar-brand
{
    font-size: 26px;
    font-family: Inter;
}

/* Colors for brand */
nav .navbar-brand .brand-style
{
    color: #7A7A7A;
    font-family: Inter;
    font-weight: 500;
    margin-left: 8px;
}

/* Adjusts the position of the brand logo */
nav .logo-alignment
{
    margin-top: -4px;
}

/* Adjust position of nav-link to be vertically centered in the nav bar */

nav .nav-link
{
    margin-top: -10px;
}