<li class="nav-item">
    <label class="nav-link">
        Scale to Pixel Ratio: 
        <input autocomplete="off" 
        autofocus class="parameter-input" 
        id="scale-to-pixel-ratio" 
        name="scale-to-pixel-ratio" 
        type="number">
    </label>

    </li>
    <li class="nav-item">
    <label class="nav-link  border-bottom">
        Bottom Crop Ratio: 
        <input autocomplete="off" 
        autofocus class="parameter-input" 
        id="bottom-crop-ratio" 
        name="botton-crop-ratio" 
        type="number">
    </label>
    </li>
    <li class="nav-item">
    <label class="nav-link">
        Show Size Histograms: 
        <input autocomplete="off" 
        autofocus class="default-checkbox" 
        id="show-size-histogram" 
        name="show-size-histogram" 
        type="checkbox">
    </label>
    </li>
    <li class="nav-item">
    <label class="nav-link">
        Segmentation Images: 
        <input autocomplete="off" 
        autofocus class="default-checkbox" 
        id="segmentation-images" 
        name="segmentation-images" 
        type="checkbox">
    </label>
    </li>
    <li class="nav-item">
    <label class="nav-link">
        Histogram Bins: 
        <input autocomplete="off" 
        autofocus class="parameter-input" 
        id="histogram-bins" 
        name="histogram-bins" 
        type="number">
    </label>
    </li>
    <li class="nav-item">
    <label class="nav-link border-bottom">
        Contour Thickness: 
        <input autocomplete="off" 
        autofocus class="parameter-input" 
        id="contour-thickness" 
        name="contour-thickness" 
        type="number">
    </label>
    </li>
    <li class="nav-item">
    <label class="nav-link">
        Invert Grayscale: 
        <input autocomplete="off" 
        autofocus class="default-checkbox" 
        id="segmentation-images" 
        name="segmentation-images" 
        type="checkbox">
    </label>
    </li>
    <li class="nav-item">
    <label class="nav-link">
        Histogram Equalisation: 
        <input autocomplete="off" 
        autofocus class="default-checkbox" 
        id="histogram-equalisation" 
        name="histogram-equalisation" 
        type="checkbox">
    </label>
    </li>
    <li class="nav-item">
    <label class="nav-link">
        Lower Contrast Threshold: 
        <input autocomplete="off" 
        autofocus class="parameter-input" 
        id="lower-contrast-threshold" 
        name="lower-contrast-threshold" 
        type="number">
    </label>
    </li>
    <li class="nav-item">
    <label class="nav-link">
        Upper Contrast Threshold: 
        <input autocomplete="off" 
        autofocus class="parameter-input" 
        id="upper-contrast-threshold" 
        name="upper-contrast-threshold" 
        type="number">
    </label>
    </li>
    <li class="nav-item">
    <label class="nav-link">
        Blur Kernel Size: 
        <input autocomplete="off" 
        autofocus class="parameter-input" 
        id="blur-kernel-size" 
        name="blur-kernel-size" 
        type="number">
    </label>
    </li>
    <li class="nav-item">
    <label class="nav-link">
        Distance Transform: 
        <input autocomplete="off" 
        autofocus class="parameter-input" 
        id="distance-transform" 
        name="distance-transform" 
        type="number">
    </label>
    </li>
    <li class="nav-item">
    <label class="nav-link border-bottom">
        Morphology Simplicity: 
        <input autocomplete="off" 
        autofocus class="parameter-input" 
        id="morphology-simplicity" 
        name="morphology-simplicity" 
        type="number">
    </label>
    </li>
    <li class="nav-item">
    <label class="nav-link">
        Min Size:
        <!-- <div class="contour-color-selector"></div>  -->
        <input autocomplete="off" 
        autofocus class="parameter-input separator" 
        id="min-size-diameter" 
        name="min-size-diameter" 
        type="number"
        placeholder="Diam">
        <input autocomplete="off" 
        autofocus class="parameter-input" 
        id="min-size-area" 
        name="min-size-area" 
        type="number"
        placeholder="Area">
    </label>
    </li>
    <li class="nav-item">
    <label class="nav-link">
        Max Size: 
        <input autocomplete="off" 
        autofocus class="parameter-input separator" 
        id="max-size-diameter" 
        name="max-size-diameter" 
        type="number"
        placeholder="Diam">
        <input autocomplete="off" 
        autofocus class="parameter-input" 
        id="max-size-area" 
        name="max-size-area" 
        type="number"
        placeholder="Area">
    </label>
    </li>