<form method="POST" action="/calculate-scale" id="scale-parameters">
    <li class="nav-item">
    <label class="nav-link">
        Distance in Pixels: 
        <input autocomplete="off"
        autofocus class="parameter-input" 
        id="pixel-distance" 
        name="pixel-distance" 
        type="number"
        value="{{ session['pixel-distance'] }}">
    </label>
    </li>
    <li class="nav-item">
    <label class="nav-link">
        Known Distance (mm):
        <input autocomplete="off"
        autofocus class="parameter-input" 
        id="scalebar-length" 
        name="scalebar-length" 
        type="number"
        value="{{ session['scalebar-length'] }}">
    </label>
    </li>
    <li class="nav-item">
    <label class="nav-link border-top">
        Send to Control Center: 
        <button class="parameter-input" type="submit">Send</button>
    </label>
    </li>
</form>

