<div class="nav-link nav-operate-icons-struct">
    <!-- Save btn -->
    <label>
        <form>
        <i class="nav-operate-icons fas fa-floppy-disk"></i>
        </form>
    </label>

    <!-- Image upload btn -->
    <label>
        <form method="POST" enctype="multipart/form-data" action="/upload">
            <i class="nav-operate-icons fas fa-image"></i>
            <input type="file" id="file" name="file" style="display: none;" onchange="this.form.submit();">
        </form>
    </label>
    <!-- Reset Parameters btn -->
    <form>
        <i class="nav-operate-icons fas fa-rotate"></i>
    </form>
    <!-- Run image processing btn -->
    <form method="POST" action="/run">
        <i class="nav-operate-icons fas fa-play" style="padding-right: 0px !important;"></i>
    </form>
</div>