<!-- Cards for images and results -->
<div class="card">
    <header class="card-header">Segment Surface Area Histogram</header>
    <div class="card-histogram">
        {% if area_histogram_div %}
            {{ area_histogram_div | safe }}
        {% endif %}
    </div>
</div>
<div class="card">
    <header class="card-header">Original Image</header>
    {% if not images_existing == 0 %}
    <img src="{{ url_for('static', filename='images/original_image.png') }}" alt="Original Image">
    {% endif %} 
</div>
<div class="card">
    <header class="card-header">Distance Transform</header>
    {% if not images_existing == 0 %}
    <img src="{{ url_for('static', filename='images/distance_transform.png') }}" alt="Distance Transform">
    {% endif %} 
</div>
<div class="card">
    <header class="card-header">Segment Diameter Approximation Histogram</header>
    <div class="card-histogram">
        {% if diameter_histogram_div %}
            {{ diameter_histogram_div | safe }}
        {% endif %}
    </div>
</div>
<div class="card">
    <header class="card-header">Watershed Segmentation</header>
    {% if not images_existing == 0 %}
    <img src="{{ url_for('static', filename='images/watershed_image.png') }}" alt="Watershed Segmentation">
    {% endif %} 
</div>
<div class="card">
    <header class="card-header">Contoured Segments</header>
    {% if not images_existing == 0 %}
    <img src="{{ url_for('static', filename='images/contoured_image.png') }}" alt="Contoured Segments">
    {% endif %} 
</div>
