<!-- Cards for images and results -->
<div class="card">
    <header class="card-header">
        Segment Surface Area Histogram 
        <div class="icon-container">
            <!-- <i class="icon-style nav-icons fa-lg floppy-icon fas fa-floppy-disk"></i> -->
            <i class="icon-style fa-lg expand-icon fas fa-expand"></i>
        </div>
    </header>
    <div class="card-container histogram-content">
        {% if not images_existing == 0 %}
        <img class="grid-img" src="{{ url_for('static', filename='images/area_histogram.png') }}" alt="Segment Surface Area Histogram">
        {% endif %} 
    </div>
</div>
<div class="card">
    <header class="card-header">
        Original Image
        <div class="icon-container">
            <!-- <i class="icon-style nav-icons fa-lg floppy-icon fas fa-floppy-disk"></i> -->
            <i class="icon-style fa-lg expand-icon fas fa-expand"></i>
        </div>
    </header>
    <div class="card-container">
        {% if not images_existing == 0 %}
        <img class="grid-img" src="{{ url_for('static', filename='images/original_image.png') }}" alt="Original Image">
        {% endif %} 
    </div>
</div>
<div class="card">
    <header class="card-header">
        Distance Transform
        <div class="icon-container">
            <!-- <i class="icon-style nav-icons fa-lg floppy-icon fas fa-floppy-disk"></i> -->
            <i class="icon-style fa-lg expand-icon fas fa-expand"></i>
        </div>
    </header>
    <div class="card-container">
        {% if not images_existing == 0 %}
        <img class="grid-img" src="{{ url_for('static', filename='images/distance_transform_thresholded.png') }}" alt="Distance Transform">
        {% endif %}
    </div> 
</div>
<div class="card">
    <header class="card-header">
        Segment Diameter Approximation Histogram
        <div class="icon-container">
            <!-- <i class="icon-style nav-icons fa-lg floppy-icon fas fa-floppy-disk"></i> -->
            <i class="icon-style fa-lg expand-icon fas fa-expand"></i>
        </div>
    </header>
    <div class="card-container histogram-content">
        {% if not images_existing == 0 %}
        <img class="grid-img" src="{{ url_for('static', filename='images/diameter_histogram.png') }}" alt="Segment Diameter Approximation Histogram">
        {% endif %} 
    </div>
</div>
<div class="card">
    <header class="card-header">
        Watershed Segmentation
        <div class="icon-container">
            <!-- <i class="icon-style nav-icons fa-lg floppy-icon fas fa-floppy-disk"></i> -->
            <i class="icon-style fa-lg expand-icon fas fa-expand"></i>
        </div>
    </header>
    <div class="card-container">
        {% if not images_existing == 0 %}
        <img class="grid-img" src="{{ url_for('static', filename='images/watershed_image.png') }}" alt="Watershed Segmentation">
        {% endif %} 
    </div>
</div>
<div class="card">
    <header class="card-header">
        Contoured Segments
        <div class="icon-container">
            <!-- <i class="icon-style nav-icons fa-lg floppy-icon fas fa-floppy-disk"></i> -->
            <i class="icon-style fa-lg expand-icon fas fa-expand"></i>
        </div>
    </header>
    <div class="card-container">
        {% if not images_existing == 0 %}
        <img class="grid-img" src="{{ url_for('static', filename='images/contoured_image.png') }}" alt="Contoured Segments">
        {% endif %} 
    </div>  
</div>
