{% extends "layout.html" %}

{% block title %}
    Summary
{% endblock %}

{% block main %}
    <div class="container py-2 text-center">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Symbol</th>
                    <th>Name</th>
                    <th>Shares</th>
                    <th>Unit Value</th>
                    <th>VALUE</th>
                </tr>
            </thead>
            <tbody>
                <!-- TODO: Loop through the database entries to display them in this table -->
                <tr>
                    {% for i in range(symbol|length) %}
                        <tr>
                            <td>{{ symbol[i].symbol.upper() }}</td>
                            <td>{{ symbol[i].symbol.upper() }}</td>
                            <td>{{ shares[i].shares }}</td>
                            <td>${{ price[i].price }}</td>
                            <td>${{ price[i].price * shares[i].shares }}</td>
                        </tr>
                    {% endfor %}
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td class="border-0 fw-bold text-end" colspan="4">TOTAL:</td>
                    <td class="border-0 text-end">${{total_spent}}</td>
                </tr>
                <tr>
                    <td class="border-0 fw-bold text-end" colspan="4">Wallet:</td>
                    <td class="border-0 text-end">${{user_cash}}</td>
                </tr>
            </tfoot>
        </table>
    </div>
{% endblock %}