{% extends "layout.html" %}

{% block head %}
    <link href="/static/login.css" rel="stylesheet" />
{% endblock %}

{% block title %}
    Log In
{% endblock %}

{% block main %}
    <div class="authentication-container">
        <div class="authentication-header">Login</div>
        <div class="authentication-content">
            <form action="/" method="post">
                <div class="login-interactive-wrapper">
                    <div class="mb-3">
                        <input autocomplete="off" autofocus class="form-control mx-auto" id="username" name="username" placeholder="Username ('Guest')" type="text">
                    </div>
                    <div class="mb-3">
                        <input class="form-control mx-auto" id="password" name="password" placeholder="Password ('GuestPassword_1')" type="password">
                    </div>
                    <div class="mb-4 text forgot-password-btn">
                        <span class="highlight-link">Forgot password?</span>
                    </div>
                    <button class="btn btn-primary" type="submit">Login</button>
                    <div class="mt-3 text bottom-text">
                        Need an account? <a class="highlight-link" href="/register">Sign up</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
