{% extends "layout.html" %}

{% block head %}
    <link href="/static/register.css" rel="stylesheet" />
{% endblock %}

{% block title %}
    Register
{% endblock %}

{% block main %}
    <div class="authentication-container">
        <form action="/register" method="post">
            <div class="register-interactive-wrapper">
                <div class="mb-3">
                    <input autocomplete="off" autofocus class="form-control mx-auto" id="username" name="username" placeholder="Username" type="text">
                </div>
                <div class="mb-3">
                    <input class="form-control mx-auto" id="password" name="password" placeholder="Password" type="password">
                </div>
                <div class="mb-3">
                    <input class="form-control mx-auto" id="confirmation" name="confirmation" placeholder="Confirm Password" type="password">
                </div>
                <button class="btn btn-primary" type="submit">Sign up</button>
                <div class="mt-3 text bottom-text">
                    Already have an account? <a class="highlight-link" href="/">Login</a>
                </div>
            </div>
        </form>
    </div>
{% endblock %} 